
<div class="container-fluid bg-dark text-white d-flex justify-content-between px-4 py-3">
    <div>
        <h4>Useful Links</h4>
        <p>Shipping Policy</p>
        <p>Order Policy</p>
        <p>Refund Policy</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>promoces Policy</p>
    </div>
    <div>
        <h4>Pyament Methods</h4>
        <img src="assets/cards.jfif" alt="">
    </div>
    <div>
        <h4>Address</h4>
        <p>Copenhagen Hospitality and RETAILS Godown Area<br>Banglore 508938</p>
    </div>
    <div>
        <h4>Contact Us</h4>
        <p>Customer support: <a href="" class="text-decoration-none">supportgmail.com</a></p>
        <p>Franchise Enquiry: <a href="" class="text-decoration-none">supportgmail.com</a></p>
        <p>Any Enquiry: <a href="" class="text-decoration-none">07882347734</a></p>
    </div>
    <div class="">
        <h4>Follow Us</h4>
        <div class="d-flex justify-content-between"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-youtube"></i><i class="fa-brands fa-twitter"></i></div>
    </div>
</div>