<nav class="navbar navbar-expand-sm navbar-dark " [ngClass]="clr">
    <div class="container ">
      <a class="navbar-brand " routerLink="/home"><img src="https://ts4.mm.bing.net/th?id=OIP.M5QZTrcaaPXTauhYgR5TXgHaHa&pid=15.1" class="rounded-circle" alt="" width="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view">View Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order">Order Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Add to Cart</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li> -->
          <li class="nav-item" *ngIf="!islogin">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="islogin">
            <a class="nav-link l"  (click)="logut()">Logout</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>

          <select name="" id="s1" (change)="change()" class="form-select w-50 ms-2" ><option value="d">Dark</option>
          <option value="l">Light</option></select>
        </form>
      </div>
    </div>
  </nav>