<app-navbar></app-navbar>

<style>
    .v{
        border: 2px solid green;
    }
    .i{
        border: 2px solid rgb(229, 0, 0);
    }
    .btn-clr{
        background-color: orange;
    }
    .w-2,.img{
      max-width: 450px;
    }
    /* .d{
        background-image: url("/assets/registerimg.jpg");
        background-repeat: no-repeat;
    } */
</style>
<!-- ------------- curouserl-------------------- -->


<div class="py-5 d">
<div class="w-2 mx-auto shadow-lg py-3 rounded">
    <div class="d-flex justify-content-center mb-2"><i class="fa-solid fa-user fs-1"></i></div>
<form action=""  #f="ngForm" (ngSubmit)="validatelogindetail(f.value)" class="mx-4">
    <h3 class="text-center">Login</h3>
    <input type="text" ngModel #u="ngModel" name="uname" id="username" class="form-control mb-2" placeholder="Enter email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" [class.v]="u.valid" [class.i]="u.invalid && u.touched"/>
    <div *ngIf="u.errors?.['required'] && u.touched" class="text-danger">Enter email</div>
    <div *ngIf="u.errors?.['pattern'] && u.touched" class="text-danger">invalid pattern enter only alphabets</div>
 
    
    <input type="password" ngModel #p="ngModel" name="pwd" id="password" class="form-control mt-2" placeholder="Enter Password" required pattern="[a-z0-9]+" [class.v]="p.valid" [class.i]="p.invalid && p.touched" />
    <div *ngIf="p.errors?.['required'] && p.touched" class="text-danger">Enter Password</div>

    <div *ngIf="p.errors?.['pattern'] && p.touched" class="text-danger">invalid pattern enter only lowercase alphabets or numbers</div>
    <button type="submit" class="btn btn-clr my-3 w-100 fw-bold" >Login</button>
    <div class=" mb-2" [ngClass]="clr">{{err}}</div>
</form>
<span class="px-4">If you Don't have an account <a routerLink="/register" class="text-decoration-none">register</a></span><br><br>
</div>

<!-- <div><img src="assets/registerimg.jpg" alt="" class="img"></div> -->
</div>
<!-- d-flex justify-content-center align-items-center -->